<div class="main">
    <!-- <div class = "homeimage"></div> -->
    <div class="module" style="display: flex;">
        <div class="title">
            Your Workspace
        </div>
        
        <div class="modulebody" style="display: flex;">
            <div style="font-size: 150%; padding-top: 1%; background-color: darkgreen; height: fit-content;">Project#1</div>
            <div class="projectbody" style="display: flex;"></div>
        </div>
        <!-- <div class="modulebody2" style="display: flex;">
            <div style="font-size: 150%;padding-top: 1%;">Past Activity</div>
        </div> -->
            
    </div>
    
</div>
