<!-- <div class = "main">
    <div class = "formcont">
        <div class = "formtitle">
            Add Trigger
        </div>
        <form [formGroup]="addtrig" class = "form" >
            <input type = "number" placeholder="Enter Trigger Amount" class = "input" formControlName = "Amount">
            <div class = "submitbut" (click) = "submittrigger()">
                Submit
            </div>
        </form>
    </div>
</div> -->
<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
  
      <div *ngFor="let question of questions" class="form-row">
        <app-form-template [question]="question" [form]="form"></app-form-template>
      </div>
  
      <div class="form-row">
        <button type="submit" [disabled]="!form.valid">Save</button>
      </div>
    </form>
  
    <div *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div>
  </div>