<div class="main">
  <div class="start">
    <div class="tools">
      <div class="icon" *ngFor="let x of tools">
        <span tooltip="{{x.tooltip}}" placement="right">
          <a href="{{x.link}}">
            <img alt="{{x.alttext}}" src="{{x.icon}}" height="25px">
          </a>
        </span>
      </div>
      <div>
        <span tooltip="Add Invoices" placement="right">
          <button (click)='addinvoices()' height="4vh" width="2vw">
            <img src="../../assets/images/add.png" height="25px">
          </button>
          <div *ngIf="invpopup" class="add">
            <app-form [questions]="fields" [value]="2" [name] = "'Add a Bill'"></app-form>
          </div>
        </span>
      </div>
    </div>
  </div>
  <div class = "invoices">
    <div class = "invoiceTable">

    </div>
  </div>
</div>