
<!--
<div *ngFor="let x of myTimeline; let i=index">
 
       <div> {{x[0].trends.name}}</div>
 </div>
-->

<div style="background-image: url('https://firebasestorage.googleapis.com/v0/b/fundle-f51a5.appspot.com/o/assets%2F30ff07936ec8c506f7dd18a7d5d03814.jpg?alt=media&token=14fe350e-3f6b-4747-ae1b-3947861420a7');
">
<div class="main" style="background: url('https://media.giphy.com/media/djR6hGcZxt9m/source.gif');">

    <div class="start">
        <div class="title"><img src="../../assets/images/trending101.png" height="200px"></div>
        <div class="information">
            <div class="cards" style="background-color: white;">
                 <ol>
                    <li>A partridge in a pear tree</li>
                    <li class="even-1">Two turtle doves</li>
                    <li>Three french hens</li>
                    <li class="even-1">Four calling birds</li>
                    <li >Five golden rings</li>
                    <li class="even-1">Six geese-a-laying</li>
                    <li>Seven swans a-swimming</li>
                    <li class="even-1">Eight maids a-milking</li>
                    <li >Eight maids a-milking</li>
                    <li class="even-1">Nine ladies dancing</li>
                    <li>Ten lords a-leaping</li>
                    <li class="even-1">Eleven pipers piping</li>
                    <li>Twelve drummers drumming</li>
                </ol>
            </div>
           
        </div>
    </div>
</div>
</div>