
<!--
<div *ngFor="let x of myTimeline; let i=index">
 
       <div> {{x[0].trends.name}}</div>
 </div>-->

 <ol>
    <li>A partridge in a pear tree</li>
    <li>Two turtle doves</li>
    <li>Three french hens</li>
    <li>Four calling birds</li>
    <li>Five golden rings</li>
    <li>Six geese-a-laying</li>
    <li>Seven swans a-swimming</li>
    <li>Eight maids a-milking</li>
    <li>Nine ladies dancing</li>
    <li>Ten lords a-leaping</li>
    <li>Eleven pipers piping</li>
    <li>Twelve drummers drumming</li>
</ol>