<div class="main">
    
    <div class="module" style="display: flex;">
        <div class="title">
            Dashboard
        </div>
        <div class = "homeimage"></div>
        <div class="modulebody" style="display: flex;">
            <div style="font-size: 150%; padding-top: 1%;">Your Reach</div>
            <div class="charts" style="display: flex;">
                <div style="font-size: 100%; background-color: rgb(255, 255, 255); height:fit-content; width: fit-content;">YouTube 
                    <canvas baseChart
                    [data]="activity.Data" [labels]="activity.Label" [chartType]='activity.Type'></canvas> 
                </div>
                <div style="font-size: 100%; background-color: rgb(255, 255, 255); height:fit-content; width: fit-content;">Twitter</div>
                <div style="font-size: 100%; background-color: rgb(255, 255, 255); height:fit-content; width: fit-content;">Insta</div>
                <div style="font-size: 100%; background-color: rgb(255, 255, 255); height:fit-content; width: fit-content;">Git</div>
                <div style="font-size: 100%; background-color: rgb(255, 255, 255); height:fit-content; width: fit-content;">Extra</div>
            </div>
        </div>
        <div class="modulebody2" style="display: flex;">
            <div style="font-size: 150%;padding-top: 2%;">Past Activity</div>
            <div class="activities" style="display: flex;">
                <div style="font-size: 150%; background-color: rgb(255, 255, 255); border-radius: 4px; border: 2px solid #a3a3a1; height: fit-content; width: fit-content;"> Hit 15,063 followers on Instagram!</div>
                <div style="font-size: 150%; background-color: rgb(255, 255, 255); border-radius: 4px; border: 2px solid #a3a3a1; height:fit-content; width: fit-content;">3,559 people re-tweeted your latest tweet.</div>
                <div style="font-size: 150%; background-color: rgb(255, 255, 255); border-radius: 4px; border: 2px solid #a3a3a1; height:fit-content; width: fit-content;">Another milestone</div>
                <div style="font-size: 150%; background-color: rgb(255, 255, 255); border-radius: 4px; border: 2px solid #a3a3a1; height:fit-content; width: fit-content;">Another milestone</div>
                <div style="font-size: 150%; background-color: rgb(255, 255, 255); border-radius: 4px; border: 2px solid #a3a3a1; height:fit-content; width: fit-content;">T_T </div>
            </div>
        </div>
            
    </div>
    
</div>
